@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Playfair+Display&family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(21, 21, 21);
}

/*      NAV BAR     */

nav {
    display: flex;
    position: fixed;  
    top: 0rem; 
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    padding: 0rem 1rem;
    background-color: rgb(48, 48, 48);
    color: rgb(234, 234, 234);
    font-family: "Press Start 2P";
    font-size: 1rem;
    text-shadow: rgb(14, 13, 13) 1px 1px 2px;
    z-index: 5;
    border-bottom: 5px solid black;
    border-style: groove;
}

nav a {
    display: flex;
}

nav img {
    align-items: center;
    padding-left: 3rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    padding: 0rem 2rem;
}

nav li a {
    text-decoration: none;
    color: whitesmoke;
}

/*      HERO SECTION        */

.hero-container {
    margin-top: 4.1rem;
    width: 100%;
    height: 45.4rem;
    background-image: url("images/NES\ HD\ Hero.jpeg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Press Start 2P";
    text-align: center;
    color: rgb(217, 216, 216);
    text-shadow: rgb(5, 5, 5) 1px 1px 4px;
}

.hero-container h1, .hero-container h2 {
    position: relative;
    top: 2rem;
    word-spacing: -0.65rem;
    flex: 1;
}

.hero-container h2 {
    padding-top: 1rem;
}

/*      OVERVIEW SECTION (Who are we?)      */

.overview-section {
    padding-top: .2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Press Start 2p";
    color: rgb(255, 255, 103);
    text-shadow: rgb(0, 0, 0) 1px 1px 3px;
    height: 47rem;
    overflow: hidden;
}

.overview-container {
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 61.9rem;
    height: 44rem;
    background-image: url("images/SNES\ pad\ HD.jpeg.jpg");
    padding-top: 5rem;
    background-size: cover;
    opacity: 95%;
}

.overview-container p {
    padding-top: 5rem;
    font-size: 1.5rem;
    word-spacing: normal;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.overview-container span a {
    text-decoration: underline;
    color: red;
}

.gallery {
    display: flex;
    height: 25rem;
    justify-content: center;
}

.gallery-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*      QUOTE/"TESTIMONIAL" SECTION     */

.master-quote-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    width: 61.9rem;
    
    margin-top: .6rem;
    
}

.quote-container {
    display: flex;
    flex-direction: column;  
    height: 15rem;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid black;
    align-items: center;
    font-family: "Playfair Display";
    font-size: 1.5rem;
    font-weight: 700;
}

.quote-container p {
    display: flex;
    padding-top: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}

.quote-container .signature {
    display: flex;
    font-style: italic;
}

#quote1 {
    background-color: rgb(202, 105, 105);
}

#quote2 {
    background-color: rgb(162, 139, 197);
}

/*      CLOSING SECTION     */

.master-closing-section {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.closing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61.9rem;
}

.closing-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("images/GameGear\ HD.jpeg.jpg");
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.closing-hero h1 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7rem;
    color: rgb(255, 255, 103);
    font-family: "Press Start 2P";
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 16.5rem 1rem 16.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: grey;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    border: solid 3px black;
    border-style:outset;
}


/*  HERO BREAKPOINT 1015px wide */

@media only screen and (max-width: 1015px) {
    .hero-container h1, .hero-container h2 {
        font-size: 1.5rem;
        top: 15rem;
        background-color: rgb(64, 64, 64);
        padding: 1rem 0rem;
        border: black solid 3px;
        opacity: .9;
    }
}

/*  NAV BREAKPOINT 910px wide   */

@media only screen and (max-width: 910px) {
    nav {
        font-size: .8rem;
    }
    nav li {
        padding: 0rem 1rem;
    }
}

/*  QUOTE BREAKPOINT 800px wide */

@media only screen and (max-width: 800px) {
    .quote-container p {
        padding-top: 0rem;
    }
}

/*  TABLET VIEW 768px wide  */

@media only screen and (max-width: 768px) {
    nav img {
        display: none;
        position: absolute;
        padding: 0;
        margin: 0;
    }

    nav ul {
        margin: 0 auto;
    }

    .overview-container p {
        font-size: 1rem;
    }

    footer {
        padding: 0rem;
    }
}


/*  MOBILE VIEW 480px wide  */

@media only screen and (max-width: 480px) {
    nav {
        display: flex;
        justify-content: center;
        font-size: .6rem;
        padding: 0rem;
    }

    nav li {
        padding: 0rem .9rem;
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    .hero-container h1 {
        position: relative;
        top: 3.5rem;
        word-spacing: -0.65rem;
        flex: 1;
    }

    .hero-container h2 {
        position: relative;
        top: 27.4rem;
        word-spacing: -0.65rem;
        flex: 1;
    }

    .overview-container {
        padding-top: 0;
    }

    .overview-container h1 {
        font-size: 1.1rem;
    }

    .overview-container p {
        padding-top: .5rem;
        font-size: .85rem;
        word-spacing: normal;
        line-height: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        overflow: hidden;
    }

    .quote-container {
        font-size: 1.3rem;
    }

    footer {
        font-size: .8rem;
        padding: 1rem 2rem;
    }
}